<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add/advice" method="post">
        <input type="hidden" name="user_id" value="{{session.user_id}}">
        <textarea name="user_advice" id="" cols="60" rows="10" placeholder="enter your advice and encourge people"></textarea>
        <button type="submit">Add advice</button>
    </form>
    {% for advice in all_advice: %}
    <p>{{ advice.user_advice }}</p>
{% endfor %}
</body>
</html>